/* *{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 600px;
    margin: 10px auto;
    border-collapse: collapse;

    
}
th, td{
    padding: 10px;
    border: 1px solid royalblue;
    
}
tr.even{
    background-color: darkgoldenrod;
}
tr:hover{
    background-color:gray;
} */

*{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 500px;
    padding: 10px;
    margin: 10px auto;
    /* text-align: center; */

}

input.email{
    background-image: url(https://cdn0.iconfinder.com/data/icons/e-commerce-207/1024/mail-512.png);
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 42px;
    border: 1px solid gray;
    
}

input.password{
    background-image: url(http://icons.iconarchive.com/icons/icons8/windows-8/256/Security-Password-2-icon.png);
    background-size: 34px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 42px;
    border: 1px solid gray;



}

input:focus{
    border-color: royalblue;
}

button{
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


input {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}

fieldset{
    border-radius: 10px;
    border: 1px solid green;
    
}

legend{
    padding: 10px;
    background-color: lightgray;
    color: royalblue;
    font-weight: bold;
}

.center{
    text-align: center;
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
}